[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.0.7"
dj-database-url = "*"
django-allauth = "*"
django-appconf = "*"
django-bootstrap4 = "*"
django-concurrency = "*"
django-debug-toolbar = "*"
psycopg2 = {version = "==2.7.4", sys_platform = "!= 'win32'"}
environs = "*"
waitress = "*"
whitenoise = "*"
django-markdownx = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
