{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <h2 class="mb-4">Synchronize Discord Account</h2>

    <p class="lead">Please confirm the synchronization of the linked account.</p>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="https://cdn.discordapp.com/avatars/{{id }}/{{ avatar }}.png"
                     class="img-thumbnail" alt="Avatar">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">{{ username }}#{{ discriminator }}</h5>
                    <p class="card-text">{{ email }}</p>
                    <form method="post" action="{% url 'guildmaster:discord-sync' %}" target="_self">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">
                        <input type="submit" class="btn btn-primary" value="Synchronize">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}